STRAVA - JOURNEY THROUGH 7 YEARS OF ACTIVITY

In [117]:
import os
import pandas as pd 
import numpy as np

from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)
import plotly as py
import plotly.graph_objs as go

In [118]:
data = pd.read_csv('activities.csv')

############################################################################## 
#Data Exploration
##############################################################################

In [119]:
#rows and columns returns (rows, columns)
data.shape

(1618, 77)

In [120]:
data.describe()

,Activity ID,Elapsed Time,Relative Effort,Athlete Weight,Bike Weight,Elapsed Time.1,Moving Time,Distance.1,Max Speed,Average Speed,...,Gear,Precipitation Probability,Precipitation Type,Cloud Cover,Weather Visibility,UV Index,Weather Ozone,translation missing: en-US.lib.export.portability_exporter.activities.horton_values.jump_count,translation missing: en-US.lib.export.portability_exporter.activities.horton_values.total_grit,translation missing: en-US.lib.export.portability_exporter.activities.horton_values.avg_flow
count,1.618000e+03,1618.000000,1210.000000,1482.000000,1294.000000,1566.000000,1618.000000,1616.000000,1597.000000,309.000000,...,3.010000e+02,88.000000,7.0,88.000000,88.000000,88.000000,88.000000,0.0,0.0,0.0
mean,1.677707e+09,7302.610630,73.035537,76.784076,9.504560,7352.617497,4707.518541,31008.755862,13.064696,7.411549,...,2.105922e+06,0.044318,5.0,0.204659,15959.920455,1.920455,318.714773,NaN,NaN,NaN
std,1.100416e+09,27364.777507,61.435000,1.339904,0.950436,27801.003119,3812.067242,29549.321094,5.303791,2.733796,...,1.657908e+06,0.196040,0.0,0.180134,678.679503,2.123874,22.720301,NaN,NaN,NaN
min,6.977701e+07,1.000000,0.000000,75.000000,7.800000,1.000000,1.000000,0.000000,0.000000,0.000000,...,3.386890e+05,0.000000,5.0,0.000000,10725.000000,0.000000,282.000000,NaN,NaN,NaN
25%,7.781557e+08,2741.000000,30.000000,75.000000,9.000000,2728.000000,2371.250000,9489.199951,9.300000,6.007276,...,1.088707e+06,0.000000,5.0,0.070000,16093.000000,0.000000,304.474998,NaN,NaN,NaN
50%,1.459098e+09,4074.500000,58.000000,77.000000,9.600000,4129.000000,3613.000000,22536.450195,13.400000,7.949290,...,1.088707e+06,0.000000,5.0,0.155000,16093.000000,1.000000,311.750000,NaN,NaN,NaN
75%,2.557727e+09,8023.250000,95.000000,78.000000,9.600000,8029.500000,5924.750000,42432.399414,16.400000,9.068000,...,2.299379e+06,0.000000,5.0,0.290000,16093.000000,2.000000,326.900002,NaN,NaN,NaN
max,4.010034e+09,801200.000000,486.000000,78.000000,15.000000,801200.000000,29876.000000,183909.500000,36.400002,12.503000,...,4.941845e+06,1.000000,5.0,0.800000,16093.000000,9.000000,401.299988,NaN,NaN,NaN

In [121]:
data.isnull().any()

Activity ID                                                                                       False
Activity Date                                                                                     False
Activity Name                                                                                     False
Activity Type                                                                                     False
Activity Description                                                                               True
                                                                                                  ...
UV Index                                                                                           True
Weather Ozone                                                                                      True
translation missing: en-US.lib.export.portability_exporter.activities.horton_values.jump_count     True
translation missing: en-US.lib.export.portability_exporter.activities.horton_values.total_grit     True
translation missing: en-US.lib.export.portability_exporter.activities.horton_values.avg_flow       True
Length: 77, dtype: bool

In [122]:
#basic information on all columns 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1618 entries, 0 to 1617
Data columns (total 77 columns):
 #   Column                                                                                          Non-Null Count  Dtype
---  ------                                                                                          --------------  -----
 0   Activity ID                                                                                     1618 non-null   int64
 1   Activity Date                                                                                   1618 non-null   object
 2   Activity Name                                                                                   1618 non-null   object
 3   Activity Type                                                                                   1618 non-null   object
 4   Activity Description                                                                            156 non-null    object
 5   Elapsed Time                                                                                    1618 non-null   int64
 6   Distance                                                                                        1618 non-null   object
 7   Relative Effort                                                                                 1210 non-null   float64
 8   Commute                                                                                         1568 non-null   object
 9   Activity Gear                                                                                   1297 non-null   object
 10  Filename                                                                                        1597 non-null   object
 11  Athlete Weight                                                                                  1482 non-null   float64
 12  Bike Weight                                                                                     1294 non-null   float64
 13  Elapsed Time.1                                                                                  1566 non-null   float64
 14  Moving Time                                                                                     1618 non-null   float64
 15  Distance.1                                                                                      1616 non-null   float64
 16  Max Speed                                                                                       1597 non-null   float64
 17  Average Speed                                                                                   309 non-null    float64
 18  Elevation Gain                                                                                  1555 non-null   float64
 19  Elevation Loss                                                                                  610 non-null    float64
 20  Elevation Low                                                                                   1572 non-null   float64
 21  Elevation High                                                                                  1572 non-null   float64
 22  Max Grade                                                                                       1604 non-null   float64
 23  Average Grade                                                                                   1618 non-null   float64
 24  Average Positive Grade                                                                          0 non-null      float64
 25  Average Negative Grade                                                                          0 non-null      float64
 26  Max Cadence                                                                                     811 non-null    float64
 27  Average Cadence                                                                                 845 non-null    float64
 28  Max Heart Rate                                                                                  1108 non-null   float64
 29  Average Heart Rate                                                                              1168 non-null   float64
 30  Max Watts                                                                                       0 non-null      float64
 31  Average Watts                                                                                   1269 non-null   float64
 32  Calories                                                                                        1016 non-null   float64
 33  Max Temperature                                                                                 0 non-null      float64
 34  Average Temperature                                                                             393 non-null    float64
 35  Relative Effort.1                                                                               1209 non-null   float64
 36  Total Work                                                                                      123 non-null    float64
 37  Number of Runs                                                                                  0 non-null      float64
 38  Uphill Time                                                                                     0 non-null      float64
 39  Downhill Time                                                                                   0 non-null      float64
 40  Other Time                                                                                      0 non-null      float64
 41  Perceived Exertion                                                                              47 non-null     float64
 42  translation missing: en-US.lib.export.portability_exporter.activities.horton_values.type        0 non-null      float64
 43  translation missing: en-US.lib.export.portability_exporter.activities.horton_values.start_time  0 non-null      float64
 44  Weighted Average Power                                                                          466 non-null    float64
 45  Power Count                                                                                     466 non-null    float64
 46  Prefer Perceived Exertion                                                                       178 non-null    float64
 47  Perceived Relative Effort                                                                       47 non-null     float64
 48  Commute.1                                                                                       1484 non-null   float64
 49  Total Weight Lifted                                                                             0 non-null      float64
 50  From Upload                                                                                     295 non-null    float64
 51  Grade Adjusted Distance                                                                         34 non-null     float64
 52  Weather Observation Time                                                                        93 non-null     float64
 53  Weather Condition                                                                               93 non-null     float64
 54  Weather Temperature                                                                             93 non-null     float64
 55  Apparent Temperature                                                                            93 non-null     float64
 56  Dewpoint                                                                                        93 non-null     float64
 57  Humidity                                                                                        93 non-null     float64
 58  Weather Pressure                                                                                93 non-null     float64
 59  Wind Speed                                                                                      93 non-null     float64
 60  Wind Gust                                                                                       93 non-null     float64
 61  Wind Bearing                                                                                    93 non-null     float64
 62  Precipitation Intensity                                                                         93 non-null     float64
 63  Sunrise Time                                                                                    93 non-null     float64
 64  Sunset Time                                                                                     93 non-null     float64
 65  Moon Phase                                                                                      93 non-null     float64
 66  Bike                                                                                            1297 non-null   float64
 67  Gear                                                                                            301 non-null    float64
 68  Precipitation Probability                                                                       88 non-null     float64
 69  Precipitation Type                                                                              7 non-null      float64
 70  Cloud Cover                                                                                     88 non-null     float64
 71  Weather Visibility                                                                              88 non-null     float64
 72  UV Index                                                                                        88 non-null     float64
 73  Weather Ozone                                                                                   88 non-null     float64
 74  translation missing: en-US.lib.export.portability_exporter.activities.horton_values.jump_count  0 non-null      float64
 75  translation missing: en-US.lib.export.portability_exporter.activities.horton_values.total_grit  0 non-null      float64
 76  translation missing: en-US.lib.export.portability_exporter.activities.horton_values.avg_flow    0 non-null      float64
dtypes: float64(67), int64(2), object(8)
memory usage: 973.5+ KB

Lets creat a new dataframe with on the columns we would need for the next stage

In [123]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1618 entries, 0 to 1617
Data columns (total 77 columns):
 #   Column                                                                                          Non-Null Count  Dtype
---  ------                                                                                          --------------  -----
 0   Activity ID                                                                                     1618 non-null   int64
 1   Activity Date                                                                                   1618 non-null   object
 2   Activity Name                                                                                   1618 non-null   object
 3   Activity Type                                                                                   1618 non-null   object
 4   Activity Description                                                                            156 non-null    object
 5   Elapsed Time                                                                                    1618 non-null   int64
 6   Distance                                                                                        1618 non-null   object
 7   Relative Effort                                                                                 1210 non-null   float64
 8   Commute                                                                                         1568 non-null   object
 9   Activity Gear                                                                                   1297 non-null   object
 10  Filename                                                                                        1597 non-null   object
 11  Athlete Weight                                                                                  1482 non-null   float64
 12  Bike Weight                                                                                     1294 non-null   float64
 13  Elapsed Time.1                                                                                  1566 non-null   float64
 14  Moving Time                                                                                     1618 non-null   float64
 15  Distance.1                                                                                      1616 non-null   float64
 16  Max Speed                                                                                       1597 non-null   float64
 17  Average Speed                                                                                   309 non-null    float64
 18  Elevation Gain                                                                                  1555 non-null   float64
 19  Elevation Loss                                                                                  610 non-null    float64
 20  Elevation Low                                                                                   1572 non-null   float64
 21  Elevation High                                                                                  1572 non-null   float64
 22  Max Grade                                                                                       1604 non-null   float64
 23  Average Grade                                                                                   1618 non-null   float64
 24  Average Positive Grade                                                                          0 non-null      float64
 25  Average Negative Grade                                                                          0 non-null      float64
 26  Max Cadence                                                                                     811 non-null    float64
 27  Average Cadence                                                                                 845 non-null    float64
 28  Max Heart Rate                                                                                  1108 non-null   float64
 29  Average Heart Rate                                                                              1168 non-null   float64
 30  Max Watts                                                                                       0 non-null      float64
 31  Average Watts                                                                                   1269 non-null   float64
 32  Calories                                                                                        1016 non-null   float64
 33  Max Temperature                                                                                 0 non-null      float64
 34  Average Temperature                                                                             393 non-null    float64
 35  Relative Effort.1                                                                               1209 non-null   float64
 36  Total Work                                                                                      123 non-null    float64
 37  Number of Runs                                                                                  0 non-null      float64
 38  Uphill Time                                                                                     0 non-null      float64
 39  Downhill Time                                                                                   0 non-null      float64
 40  Other Time                                                                                      0 non-null      float64
 41  Perceived Exertion                                                                              47 non-null     float64
 42  translation missing: en-US.lib.export.portability_exporter.activities.horton_values.type        0 non-null      float64
 43  translation missing: en-US.lib.export.portability_exporter.activities.horton_values.start_time  0 non-null      float64
 44  Weighted Average Power                                                                          466 non-null    float64
 45  Power Count                                                                                     466 non-null    float64
 46  Prefer Perceived Exertion                                                                       178 non-null    float64
 47  Perceived Relative Effort                                                                       47 non-null     float64
 48  Commute.1                                                                                       1484 non-null   float64
 49  Total Weight Lifted                                                                             0 non-null      float64
 50  From Upload                                                                                     295 non-null    float64
 51  Grade Adjusted Distance                                                                         34 non-null     float64
 52  Weather Observation Time                                                                        93 non-null     float64
 53  Weather Condition                                                                               93 non-null     float64
 54  Weather Temperature                                                                             93 non-null     float64
 55  Apparent Temperature                                                                            93 non-null     float64
 56  Dewpoint                                                                                        93 non-null     float64
 57  Humidity                                                                                        93 non-null     float64
 58  Weather Pressure                                                                                93 non-null     float64
 59  Wind Speed                                                                                      93 non-null     float64
 60  Wind Gust                                                                                       93 non-null     float64
 61  Wind Bearing                                                                                    93 non-null     float64
 62  Precipitation Intensity                                                                         93 non-null     float64
 63  Sunrise Time                                                                                    93 non-null     float64
 64  Sunset Time                                                                                     93 non-null     float64
 65  Moon Phase                                                                                      93 non-null     float64
 66  Bike                                                                                            1297 non-null   float64
 67  Gear                                                                                            301 non-null    float64
 68  Precipitation Probability                                                                       88 non-null     float64
 69  Precipitation Type                                                                              7 non-null      float64
 70  Cloud Cover                                                                                     88 non-null     float64
 71  Weather Visibility                                                                              88 non-null     float64
 72  UV Index                                                                                        88 non-null     float64
 73  Weather Ozone                                                                                   88 non-null     float64
 74  translation missing: en-US.lib.export.portability_exporter.activities.horton_values.jump_count  0 non-null      float64
 75  translation missing: en-US.lib.export.portability_exporter.activities.horton_values.total_grit  0 non-null      float64
 76  translation missing: en-US.lib.export.portability_exporter.activities.horton_values.avg_flow    0 non-null      float64
dtypes: float64(67), int64(2), object(8)
memory usage: 973.5+ KB

In [124]:
#lets pick the columns from data and paste them into a new dataframe
data_strava = data[['Activity ID','Activity Date','Moving Time','Relative Effort','Activity Name','Activity Type','Elapsed Time','Distance','Elevation Gain','Average Speed','Calories','Average Cadence','Average Heart Rate','Average Watts','Athlete Weight','Average Temperature']]

In [125]:
#lets rename the columns and delete the space and keep the activity names in lowercases.
#df = df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'})
data_strava = data_strava.rename(columns={'Activity ID':'activity_id'})
data_strava = data_strava.rename(columns={'Activity Date':'activity_data'})
data_strava = data_strava.rename(columns={'Moving Time':'moving_time'})
data_strava = data_strava.rename(columns={'Relative Effort':'relative_effort'})
data_strava = data_strava.rename(columns={'Activity Name':'activity_name'})
data_strava = data_strava.rename(columns={'Activity Type':'activity_type'})
data_strava = data_strava.rename(columns={'Elapsed Time':'elapsed_time'})
data_strava = data_strava.rename(columns={'Elevation Gain':'elevation_gain'})
data_strava = data_strava.rename(columns={'Average Speed':'avg_speed'})
data_strava = data_strava.rename(columns={'Calories':'calories'})
data_strava = data_strava.rename(columns={'Average Cadence':'avg_cadence'})
data_strava = data_strava.rename(columns={'Average Heart Rate':'avg_hr'})
data_strava = data_strava.rename(columns={'Average Watts':'avg_power'})
data_strava = data_strava.rename(columns={'Athlete Weight':'weight'})
data_strava = data_strava.rename(columns={'Average Temperature':'temperature'})

In [126]:
#data_strava = data_strava['elapsed_time']=(data_strava['elapsed_time']/60)/60

In [127]:
#lets have a look at all the data
data_strava

,activity_id,activity_data,moving_time,relative_effort,activity_name,activity_type,elapsed_time,Distance,elevation_gain,avg_speed,calories,avg_cadence,avg_hr,avg_power,weight,temperature
0,69777014,"Jul 25, 2013, 4:28:48 PM",6316.0,NaN,Sortie du jeudi soir ( afterwork ) VTT,Ride,9406,32.27,779.330017,NaN,1092.182373,NaN,NaN,155.087997,78.0,NaN
1,69924640,"Jul 26, 2013, 6:26:32 AM",5257.0,NaN,"07/26/2013 Monswiller, Alsace, France",Ride,5284,38.00,927.903015,NaN,1542.808228,NaN,NaN,263.208008,78.0,NaN
2,70016289,"Jul 23, 2013, 8:00:00 AM",11760.0,NaN,Ride !,Ride,11760,91.00,NaN,NaN,NaN,NaN,NaN,NaN,78.0,NaN
3,70016552,"Jul 22, 2013, 6:00:00 AM",10800.0,NaN,Ride !,Ride,10800,82.00,NaN,NaN,NaN,NaN,NaN,NaN,78.0,NaN
4,70105275,"Jul 27, 2013, 5:54:10 AM",9025.0,NaN,"07/27/2013 Monswiller, Alsace, France",Ride,10384,69.23,1355.560059,NaN,2233.324219,NaN,NaN,221.936996,78.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1613,3988350820,"Aug 30, 2020, 3:13:01 PM",2281.0,39.0,Quick run before Alaphillipe Victory!,Run,2294,7.11,32.862236,3.117054,540.000000,82.234039,145.090088,NaN,NaN,NaN
1614,3993977165,"Aug 31, 2020, 11:37:01 PM",1594.0,NaN,ðŸ¥‚ðŸ¸4 years in ðŸðŸ¾ðŸ¾,Ride,5479,7.82,97.000000,4.905458,152.000000,54.055466,NaN,117.733543,NaN,19.0
1615,4000323906,"Sep 1, 2020, 10:54:08 PM",3456.0,32.0,No legs day,Run,3543,9.69,103.702148,2.805266,700.000000,79.125946,137.660095,NaN,NaN,NaN
1616,4003510737,"Sep 2, 2020, 11:32:26 PM",3667.0,85.0,1. Sub Threshold Efforts Bike,Virtual Ride,3717,32.31,536.000000,8.812244,837.000000,77.025719,149.941299,239.173904,NaN,NaN
1617,4010034234,"Sep 4, 2020, 10:11:16 AM",6113.0,121.0,Fresh laps,Ride,9831,50.47,337.000000,8.257206,911.000000,83.258186,143.669434,200.277817,NaN,13.0

In [128]:
#shows for each column the percentage of null values 
data_strava.isnull().sum() / data_strava.shape[0]

activity_id        0.000000
activity_data      0.000000
moving_time        0.000000
relative_effort    0.252163
activity_name      0.000000
activity_type      0.000000
elapsed_time       0.000000
Distance           0.000000
elevation_gain     0.038937
avg_speed          0.809023
calories           0.372064
avg_cadence        0.477750
avg_hr             0.278121
avg_power          0.215698
weight             0.084054
temperature        0.757108
dtype: float64

In [135]:
#Separate date column into Date and Time
new = data_strava["activity_data"].str.split(",", n = 1, expand = True) 
data_strava["date"]= new[0] 
data_strava["year"]= new[1]

In [137]:
data_strava

,activity_id,activity_data,moving_time,relative_effort,activity_name,activity_type,elapsed_time,Distance,elevation_gain,avg_speed,calories,avg_cadence,avg_hr,avg_power,weight,temperature,date,time,year
0,69777014,"Jul 25, 2013, 4:28:48 PM",6316.0,NaN,Sortie du jeudi soir ( afterwork ) VTT,Ride,9406,32.27,779.330017,NaN,1092.182373,NaN,NaN,155.087997,78.0,NaN,Jul 25,"25, 2013, 4:28:48 PM","2013, 4:28:48 PM"
1,69924640,"Jul 26, 2013, 6:26:32 AM",5257.0,NaN,"07/26/2013 Monswiller, Alsace, France",Ride,5284,38.00,927.903015,NaN,1542.808228,NaN,NaN,263.208008,78.0,NaN,Jul 26,"26, 2013, 6:26:32 AM","2013, 6:26:32 AM"
2,70016289,"Jul 23, 2013, 8:00:00 AM",11760.0,NaN,Ride !,Ride,11760,91.00,NaN,NaN,NaN,NaN,NaN,NaN,78.0,NaN,Jul 23,"23, 2013, 8:00:00 AM","2013, 8:00:00 AM"
3,70016552,"Jul 22, 2013, 6:00:00 AM",10800.0,NaN,Ride !,Ride,10800,82.00,NaN,NaN,NaN,NaN,NaN,NaN,78.0,NaN,Jul 22,"22, 2013, 6:00:00 AM","2013, 6:00:00 AM"
4,70105275,"Jul 27, 2013, 5:54:10 AM",9025.0,NaN,"07/27/2013 Monswiller, Alsace, France",Ride,10384,69.23,1355.560059,NaN,2233.324219,NaN,NaN,221.936996,78.0,NaN,Jul 27,"27, 2013, 5:54:10 AM","2013, 5:54:10 AM"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1613,3988350820,"Aug 30, 2020, 3:13:01 PM",2281.0,39.0,Quick run before Alaphillipe Victory!,Run,2294,7.11,32.862236,3.117054,540.000000,82.234039,145.090088,NaN,NaN,NaN,Aug 30,"30, 2020, 3:13:01 PM","2020, 3:13:01 PM"
1614,3993977165,"Aug 31, 2020, 11:37:01 PM",1594.0,NaN,ðŸ¥‚ðŸ¸4 years in ðŸðŸ¾ðŸ¾,Ride,5479,7.82,97.000000,4.905458,152.000000,54.055466,NaN,117.733543,NaN,19.0,Aug 31,"31, 2020, 11:37:01 PM","2020, 11:37:01 PM"
1615,4000323906,"Sep 1, 2020, 10:54:08 PM",3456.0,32.0,No legs day,Run,3543,9.69,103.702148,2.805266,700.000000,79.125946,137.660095,NaN,NaN,NaN,Sep 1,"1, 2020, 10:54:08 PM","2020, 10:54:08 PM"
1616,4003510737,"Sep 2, 2020, 11:32:26 PM",3667.0,85.0,1. Sub Threshold Efforts Bike,Virtual Ride,3717,32.31,536.000000,8.812244,837.000000,77.025719,149.941299,239.173904,NaN,NaN,Sep 2,"2, 2020, 11:32:26 PM","2020, 11:32:26 PM"
1617,4010034234,"Sep 4, 2020, 10:11:16 AM",6113.0,121.0,Fresh laps,Ride,9831,50.47,337.000000,8.257206,911.000000,83.258186,143.669434,200.277817,NaN,13.0,Sep 4,"4, 2020, 10:11:16 AM","2020, 10:11:16 AM"

############################################################################## 
#Data Manipulation
##############################################################################

In [100]:
#Lets round all the columns
data_strava = data_strava.round(0)

In [101]:
data_strava.to_csv('data_out.csv')